
.bag-button{
    margin: 20px 10px 0px 20px;
      background-color:lightgreen;
      border: none;
      padding: 5px 15px 5px 15px;
      border-radius: 10px;
      text-align: center;
}
.wishlist-button{margin: 20px 10px 0px 20px;
    padding: 5px 30px 5px 30px; 
    border:2px solid black;
    border-radius:8px;
    text-transform: uppercase;
}